DATA_HOTEL_LIST_XLSX=data/simaFullHotelList.xlsx
DATA_MISSING_CODES_XLSX=data/missing_sabre_codes_after_Meital_filtering.xlsx
BASE_URL_HOTEL=https://hgwcore.azurewebsites.net/AbroadStaticData/Hotel
VENDOR=SabreLDS
HOTEL_ID_TYPE=Sabre
RETRY_COUNT=2
TIMEOUT_SECONDS=30
USE_PLAYWRIGHT_FOR_TOKEN=false
